# 라이브러리 설정

In [1]:
import tensorflow as tf
import pandas as pd

# 데이터 준비

In [2]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11490434/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)

In [3]:
독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28, 1) (60000, 10)

# 모델 만들기

In [5]:
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

In [6]:
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

In [7]:
# 이미지 여러 장으로 표현된 데이터를 한 줄로 펴서 표 형태로 바꿔주기
H = tf.keras.layers.Flatten()(H)

In [8]:
# 중요한 특징 84개만 추출해쥬
H = tf.keras.layers.Dense(84, activation='swish')(H)

In [9]:
# 최종적으로 10개의 분류 만들기
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

In [10]:
# 모델 만들기
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy') #loss에 쓰인 것에는 교차검증을 하는 게 있음

In [11]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_1 (Conv2D)           (None, 24, 24, 3)         78

 max_pooling2d (MaxPooling2D  (None, 12, 12, 3)        0
 )

 conv2d_2 (Conv2D)           (None, 8, 8, 6)           456

 max_pooling2d_1 (MaxPooling  (None, 4, 4, 6)          0
 2D)

 flatten (Flatten)           (None, 96)                0

 dense (Dense)               (None, 84)                8148

 dense_1 (Dense)             (None, 10)                850

=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

# 모델 학습

In [12]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 18s 4ms/step - loss: 0.6768 - accuracy: 0.8787
Epoch 2/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.1342 - accuracy: 0.9621
Epoch 3/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.1042 - accuracy: 0.9695
Epoch 4/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0906 - accuracy: 0.9740
Epoch 5/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0844 - accuracy: 0.9757
Epoch 6/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0808 - accuracy: 0.9775
Epoch 7/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0806 - accuracy: 0.9774
Epoch 8/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0759 - accuracy: 0.9790
Epoch 9/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0738 - accuracy: 0.9797
Epoch 10/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0729 - accuracy: 0.9800

# 모델 이용

In [13]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

1/1 [==============================] - 0s 133ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [14]:
종속[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1