### 옛날

In [ ]:
# 필요한 클래스 임포트
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split 

# ******* 데이터 불러오기 ************
train = pd.read_csv('/content/drive/MyDrive/플레이데이터(머신러닝)/project/train.csv')
test = pd.read_csv('/content/drive/MyDrive/플레이데이터(머신러닝)/project/test.csv')

#********* 데이터 전처리 *************

# 오류 데이터 삭제
error_data = ['C2085', 'C1397', 'C2431', 'C1649', 'C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988']
for error in error_data:
    error_index = train[train['단지코드'] == error].index
    train.drop(error_index, inplace=True)

# for 중복값 제거
train = train.drop_duplicates()
test = test.drop_duplicates()

# for 아파트이면서 공공분양이 아닌 데이터만 사용
train = train[(train.임대건물구분 == '아파트') & (train.공급유형 != '공공분양')]
test = test[(test.임대건물구분 == '아파트') & (test.공급유형 != '공공분양')]


# 임대보증금과 임대료 타입 float로 변환
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-','임대보증금' ] = np.nan

train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan

train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

# 지하철역과 버스 정류장의 NULL값의 경우, 0으로 판단, 밑에서 컬럼명 바꿈(지하철, 버스)
train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0, inplace=True)
train['도보 10분거리 내 버스정류장 수'].fillna(0, inplace=True)

test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0, inplace=True)
test['도보 10분거리 내 버스정류장 수'].fillna(0, inplace=True)

# test의 자격유형에 있는 2개 결측치 채우기
test.loc[(test.단지코드=='C2411')&(test.자격유형.isnull()), '자격유형'] = 'A'
test.loc[(test.단지코드=='C2253')&(test.자격유형.isnull()), '자격유형'] = 'C'

# 공급유형이 장기전세면 임대료 = 0
train.loc[(train.공급유형=='장기전세')&(train.임대료.isnull()), '임대료']=0

# train 강원도 행복주택

# 전용면적 16.91 
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 16.91), '임대보증금'] = 13450000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 16.91), '임대료'] = 65500
# 전용면적 26.9
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대보증금'] = 19700000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대료'] = 96000
# 전용면적 26.9
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대보증금'] = 19150000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대료'] = 94000
# 전용면적 26.9
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대보증금'] = 21400000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대료'] = 105000

# train 부산 국민임대

# 전용면적 24.72
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.72), '임대보증금'] = 7000000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.72), '임대료'] = 135000
# 전용면적 24.79
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.79), '임대보증금'] = 7000000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.79), '임대료'] = 135000
# 전용면적 26.83
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 26.83), '임대보증금'] = 7600000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 26.83), '임대료'] = 142000
# 전용면적 37.7
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 37.7), '임대보증금'] = 14800000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 37.7), '임대료'] = 198000
# 전용면적 46.94
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 46.94), '임대보증금'] = 23100000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 46.94), '임대료'] = 259000

# train 대구 국민임대

# 전용면적 29.17
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.17), '임대보증금'] = 10847000
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.17), '임대료'] = 138600
# 전용면적 29.34
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.34), '임대보증금'] = 10847000
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.34), '임대료'] = 138600
# 전용면적 37.43
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 37.43), '임대보증금'] = 17338000
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 37.43), '임대료'] = 197500

# test 대전 임대상가

# 전용면적 26.37
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 26.37), '임대보증금'] = 5787000
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 26.37), '임대료'] = 79980
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 26.37), '자격유형'] = 'C'
# 전용면적 52.74
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 52.74), '임대보증금'] = 11574000
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 52.74), '임대료'] = 159960
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 52.74), '자격유형'] = 'C'

# test 강원도 영구임대

# 전용면적 24.83
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 24.83), '임대보증금'] = 2129000
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 24.83), '임대료'] = 42350
# 전용면적 33.84
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 33.84), '임대보증금'] = 2902000
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 33.84), '임대료'] = 57730

# test 경상남도 행복주택

# 전용면적 16.94
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 16.94), '임대보증금'] = 11200000
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 16.94), '임대료'] = 53200
# 전용면적 26.85
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대보증금'] = 16333330
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대료'] = 77580
# 전용면적 26.85
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대보증금'] = 18620000
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대료'] = 88440
# 전용면적 36.77
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 36.77), '임대보증금'] = 23760000
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 36.77), '임대료'] = 112860

# 데이터프레임 컬럼명 변경(지하철어쩌구~ ->지하철, 버스 어쩌구~ -> 버스)
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형',
    '전용면적', '전용면적별세대수', '공가수', '자격유형', '임대보증금',
    '임대료', '지하철', '버스', '단지내주차면수', '등록차량수']
test.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형',
    '전용면적', '전용면적별세대수', '공가수', '자격유형', '임대보증금',
    '임대료', '지하철', '버스', '단지내주차면수']

# 필요없는 칼럼 삭제(임대건물구분, 단지코드)
train = train.drop('임대건물구분',axis=1)
test = test.drop('임대건물구분',axis=1)    

# # train 지역
# train.insert(4, 'n지역','')
# train.loc[(train['지역'] == '강원도') | (train['지역'] == '제주특별자치도') | (train['지역'] == '충청남도') | (train['지역'] == '울산광역시'), 'n지역'] = 0
# train.loc[(train['지역'] == '전라남도') | (train['지역'] == '전라북도') | (train['지역'] == '경상남도'), 'n지역'] = 1
# train.loc[(train['지역'] == '부산광역시') | (train['지역'] == '충청북도') | (train['지역'] == '경상북도'), 'n지역'] = 2
# train.loc[(train['지역'] == '대전광역시') | (train['지역'] == '광주광역시') | (train['지역'] == '대구광역시'), 'n지역'] = 3
# train.loc[(train['지역'] == '경기도') | (train['지역'] == '대구광역시') | (train['지역'] == '세종특별자치시'), 'n지역'] = 4

# # test 지역
# test.insert(4, 'n지역','')
# test.loc[(test['지역'] == '강원도') | (test['지역'] == '제주특별자치도') | (test['지역'] == '충청남도') | (test['지역'] == '울산광역시'), 'n지역'] = 0
# test.loc[(test['지역'] == '전라남도') | (test['지역'] == '전라북도') | (test['지역'] == '경상남도'), 'n지역'] = 1
# test.loc[(test['지역'] == '부산광역시') | (test['지역'] == '충청북도') | (test['지역'] == '경상북도'), 'n지역'] = 2
# test.loc[(test['지역'] == '대전광역시') | (test['지역'] == '광주광역시') | (test['지역'] == '대구광역시'), 'n지역'] = 3
# test.loc[(test['지역'] == '경기도') | (test['지역'] == '대구광역시') | (test['지역'] == '세종특별자치시'), 'n지역'] = 4


# train = train.drop(labels='지역', axis=1)
# test = test.drop(labels='지역', axis=1)
# # test['n지역'] = test['n지역'].astype('category')

# train 자격유형
train.loc[train['자격유형'].isin(['E','H','I','J']),'자격유형그룹'] = 'q1'
train.loc[train['자격유형'].isin(['B','L']),'자격유형그룹'] = 'q2'
train.loc[train['자격유형'].isin(['G','K','M','N','O']),'자격유형그룹'] = 'q3'
train.loc[train['자격유형'].isin(['D','C','F']),'자격유형그룹'] = 'q4'
train.loc[train['자격유형'].isin(['A']),'자격유형그룹'] = 'q5'

# test 자격유형
test.loc[test['자격유형'].isin(['E','H','I','J']),'자격유형그룹'] = 'q1'
test.loc[test['자격유형'].isin(['B','L']),'자격유형그룹'] = 'q2'
test.loc[test['자격유형'].isin(['G','K','M','N','O']),'자격유형그룹'] = 'q3'
test.loc[test['자격유형'].isin(['D','C','F']),'자격유형그룹'] = 'q4'
test.loc[test['자격유형'].isin(['A']),'자격유형그룹'] = 'q5'

train = train.drop(labels='자격유형', axis=1)
test = test.drop(labels='자격유형', axis=1)

# 공급유형 별로 임대유형, 임대기간, 입주조건 등이 상이함 → 차량 보유 여부를 비롯한 사회경제적지위(SES)를 반영할 것으로 예상
# 공급유형 별 특성과 '등록차량수-단지내주차면수' 차이 분포를 고려하여 범주 분류
# 국민임대(가장 많은 공급유형)와 임대상가(아파트와 명확한 임대유형 차이)는 별도의 범주로 분류

train.loc[train['공급유형'].isin(['공공임대(50년)']),'공급유형'] = '장기공공임대'
train.loc[train['공급유형'].isin(['공공임대(5년)', '공공임대(10년)', '공공임대(분납)']),'공급유형'] = '단기공공임대'
train.loc[train['공급유형'].isin(['행복주택', '영구임대', '장기전세']), '공급유형'] = '저소득층'
train.loc[train['공급유형'].isin(['국민임대']), '공급유형'] = '국민임대'

test.loc[test['공급유형'].isin(['공공임대(50년)']),'공급유형'] = '장기공공임대'
test.loc[test['공급유형'].isin(['공공임대(5년)', '공공임대(10년)', '공공임대(분납)']),'공급유형'] = '단기공공임대'
test.loc[test['공급유형'].isin(['행복주택', '영구임대', '장기전세']), '공급유형'] = '저소득층'
test.loc[test['공급유형'].isin(['국민임대']), '공급유형'] = '국민임대'

train['공급유형그룹'] = train.loc[:,'공급유형'].astype('category').cat.codes
test['공급유형그룹'] = test.loc[:,'공급유형'].astype('category').cat.codes


# 공급유형 컬럼 삭제
train = train.drop(labels='공급유형', axis=1)
test = test.drop(labels='공급유형', axis=1)

# train, test의 인덱스 번호 수정하기
train.reset_index(drop=False, inplace=True)
test.reset_index(drop=False, inplace=True)

# 단지만 따로 code 변수에 저장
code_test = test[['단지코드']]
code_train = train[['단지코드']]

code_test = np.array(code_test).reshape(-1,)
code_train = np.array(code_train).reshape(-1,)

# 숫자로 된 칼럼들만 따로 data 변수에 저장
data = train[['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스',
       '단지내주차면수', '등록차량수']]

# 원-핫 인코딩 직전 자료
before_train = train.drop(labels='index', axis=1)

# 원-핫 인코딩
train = pd.get_dummies(train, columns = ['지역','공급유형그룹','자격유형그룹'])
test =  pd.get_dummies(test, columns = ['지역','공급유형그룹','자격유형그룹'])

# # 인덱스열 삭제, train에서서 등록차량수 마지막으로 빼기
# train = train[[ '총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스',
#        '단지내주차면수', 'n지역_0', 'n지역_1', 'n지역_2', 'n지역_3', 'n지역_4',
#        '공급유형그룹_0', '공급유형그룹_1', '공급유형그룹_2', '공급유형그룹_3', '자격유형그룹_q1', '자격유형그룹_q2',
#        '자격유형그룹_q3', '자격유형그룹_q4', '자격유형그룹_q5', '등록차량수']]
# test = test[[ '총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스',
#        '단지내주차면수', 'n지역_0', 'n지역_1', 'n지역_2', 'n지역_3', 'n지역_4',
#        '공급유형그룹_0', '공급유형그룹_1', '공급유형그룹_2', '공급유형그룹_3', '자격유형그룹_q1', '자격유형그룹_q2',
#        '자격유형그룹_q3', '자격유형그룹_q4', '자격유형그룹_q5']]

# input과 target 지정<< 하기전에 훈련,테스트 칼럼을 맞춰야됨, 따라서 훈련,테스트 칼럼을 카테고리별로 묶음 
data_input = train.drop(columns=['등록차량수'])
target = train['등록차량수']

# train세트와 test세트로 나누기
train_input, test_input, train_target, test_target = train_test_split(data_input, target, test_size=0.2, random_state=42)

In [ ]:
before_train[before_train['지역']=='서울특별시']

,단지코드,총세대수,지역,전용면적,전용면적별세대수,공가수,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수,자격유형그룹,공급유형그룹
680,C2340,512,서울특별시,39.82,512,15.0,32454000.0,281700.0,0.0,3.0,362.0,382.0,q5,2
1357,C1344,424,서울특별시,51.89,35,0.0,50758000.0,620370.0,0.0,3.0,467.0,509.0,q5,1
1358,C1344,424,서울특별시,59.93,43,0.0,63166000.0,665490.0,0.0,3.0,467.0,509.0,q5,1
1359,C1344,424,서울특별시,74.97,41,0.0,125326000.0,317660.0,0.0,3.0,467.0,509.0,q5,1
1360,C1344,424,서울특별시,84.95,39,0.0,143545000.0,363840.0,0.0,3.0,467.0,509.0,q5,1
1361,C1344,424,서울특별시,84.97,42,0.0,145264000.0,368190.0,0.0,3.0,467.0,509.0,q5,1
1362,C1344,424,서울특별시,84.99,100,0.0,142744000.0,361800.0,0.0,3.0,467.0,509.0,q5,1
1468,C2352,1065,서울특별시,36.05,25,7.0,21015000.0,262700.0,0.0,4.0,879.0,793.0,q5,0
1469,C2352,1065,서울특별시,36.08,448,7.0,21015000.0,262700.0,0.0,4.0,879.0,793.0,q5,0
1470,C2352,1065,서울특별시,36.62,84,7.0,21015000.0,262700.0,0.0,4.0,879.0,793.0,q5,0
1471,C2352,1065,서울특별시,46.01,128,7.0,45003000.0,373500.0,0.0,4.0,879.0,793.0,q5,0
1472,C2352,1065,서울특별시,46.01,52,7.0,45003000.0,373500.0,0.0,4.0,879.0,793.0,q5,0
1473,C2352,1065,서울특별시,46.05,64,7.0,45003000.0,373500.0,0.0,4.0,879.0,793.0,q5,0
1474,C2352,1065,서울특별시,46.71,72,7.0,45003000.0,373500.0,0.0,4.0,879.0,793.0,q5,0
1475,C2352,1065,서울특별시,21.78,62,7.0,9515000.0,82150.0,0.0,4.0,879.0,793.0,q1,3
1476,C2352,1065,서울특별시,29.43,94,7.0,12728000.0,110110.0,0.0,4.0,879.0,793.0,q1,3
1477,C2352,1065,서울특별시,29.43,36,7.0,12728000.0,110110.0,0.0,4.0,879.0,793.0,q1,3
1491,C1039,790,서울특별시,51.32,126,13.0,187694000.0,0.0,0.0,3.0,673.0,645.0,q5,3
1492,C1039,790,서울특별시,59.88,49,13.0,213863000.0,0.0,0.0,3.0,673.0,645.0,q5,3
1493,C1039,790,서울특별시,59.94,75,13.0,213863000.0,0.0,0.0,3.0,673.0,645.0,q5,3
1494,C1039,790,서울특별시,26.68,26,13.0,15282000.0,190620.0,0.0,3.0,673.0,645.0,q5,0
1495,C1039,790,서울특별시,36.70,140,13.0,21024000.0,256040.0,0.0,3.0,673.0,645.0,q5,0
1496,C1039,790,서울특별시,36.70,14,13.0,21024000.0,256040.0,0.0,3.0,673.0,645.0,q5,0
1497,C1039,790,서울특별시,36.87,43,13.0,21024000.0,256040.0,0.0,3.0,673.0,645.0,q5,0
1498,C1039,790,서울특별시,46.76,192,13.0,45456000.0,356420.0,0.0,3.0,673.0,645.0,q5,0
1499,C1039,790,서울특별시,46.96,25,13.0,45456000.0,356420.0,0.0,3.0,673.0,645.0,q5,0
1500,C1039,790,서울특별시,26.68,70,13.0,11490000.0,94820.0,0.0,3.0,673.0,645.0,q1,3
1501,C1039,790,서울특별시,33.11,30,13.0,14263000.0,117620.0,0.0,3.0,673.0,645.0,q1,3
1552,C1024,680,서울특별시,59.96,150,2.0,65421000.0,651960.0,0.0,3.0,877.0,957.0,q5,1
1553,C1024,680,서울특별시,74.89,41,2.0,97005000.0,945230.0,0.0,3.0,877.0,957.0,q5,1
1554,C1024,680,서울특별시,74.89,8,2.0,99261000.0,962150.0,0.0,3.0,877.0,957.0,q5,1
1555,C1024,680,서울특별시,74.97,102,2.0,97005000.0,945230.0,0.0,3.0,877.0,957.0,q5,1
1556,C1024,680,서울특별시,74.97,65,2.0,99261000.0,962150.0,0.0,3.0,877.0,957.0,q5,1
1557,C1024,680,서울특별시,84.83,34,2.0,115052000.0,1042230.0,0.0,3.0,877.0,957.0,q5,1
1558,C1024,680,서울특별시,84.92,20,2.0,115052000.0,1042230.0,0.0,3.0,877.0,957.0,q5,1
1559,C1024,680,서울특별시,84.92,35,2.0,117309000.0,1058030.0,0.0,3.0,877.0,957.0,q5,1
1560,C1024,680,서울특별시,84.92,5,2.0,115052000.0,1042230.0,0.0,3.0,877.0,957.0,q5,1
1561,C1024,680,서울특별시,84.96,17,2.0,117309000.0,1058030.0,0.0,3.0,877.0,957.0,q5,1
2029,C1652,890,서울특별시,16.84,188,20.0,40400000.0,134660.0,1.0,8.0,423.0,509.0,q1,3
2030,C1652,890,서울특별시,29.76,48,20.0,69600000.0,232000.0,1.0,8.0,423.0,509.0,q1,3
2031,C1652,890,서울특별시,29.76,24,20.0,69600000.0,232000.0,1.0,8.0,423.0,509.0,q1,3
2032,C1652,890,서울특별시,29.76,42,20.0,69600000.0,232000.0,1.0,8.0,423.0,509.0,q1,3
2033,C1652,890,서울특별시,29.76,118,20.0,69600000.0,232000.0,1.0,8.0,423.0,509.0,q1,3
2034,C1652,890,서울특별시,29.76,32,20.0,69600000.0,232000.0,1.0,8.0,423.0,509.0,q1,3
2035,C1652,890,서울특별시,29.76,72,20.0,69600000.0,232000.0,1.0,8.0,423.0,509.0,q1,3
2036,C1652,890,서울특별시,36.85,96,20.0,84000000.0,280000.0,1.0,8.0,423.0,509.0,q1,3
2037,C1652,890,서울특별시,36.85,4,20.0,84000000.0,280000.0,1.0,8.0,423.0,509.0,q1,3
2038,C1652,890,서울특별시,36.85,128,20.0,84000000.0,280000.0,1.0,8.0,423.0,509.0,q1,3
2039,C1652,890,서울특별시,44.83,134,20.0,100400000.0,334660.0,1.0,8.0,423.0,509.0,q1,3

In [ ]:
test

,index,단지코드,총세대수,전용면적,전용면적별세대수,공가수,임대보증금,임대료,지하철,버스,...,지역_충청북도,공급유형그룹_0,공급유형그룹_1,공급유형그룹_2,공급유형그룹_3,자격유형그룹_q1,자격유형그룹_q2,자격유형그룹_q3,자격유형그룹_q4,자격유형그룹_q5
0,0,C1072,754,39.79,116,14.0,22830000.0,189840.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0
1,1,C1072,754,46.81,30,14.0,36048000.0,249930.0,0.0,2.0,...,0,1,0,0,0,0,0,0,0,1
2,2,C1072,754,46.90,112,14.0,36048000.0,249930.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0
3,3,C1072,754,46.90,120,14.0,36048000.0,249930.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0
4,4,C1072,754,51.46,60,14.0,43497000.0,296780.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,1017,C1267,675,36.77,126,38.0,23760000.0,112860.0,0.0,1.0,...,0,0,0,0,1,0,1,0,0,0
833,1018,C2189,382,29.19,96,45.0,6872000.0,106400.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0
834,1019,C2189,382,29.19,20,45.0,6872000.0,106400.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0
835,1020,C2189,382,39.45,202,45.0,13410000.0,144600.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0
836,1021,C2189,382,46.23,60,45.0,18689000.0,166500.0,0.0,2.0,...,0,1,0,0,0,1,0,0,0,0

In [ ]:
test_input.shape

(453, 36)

### 1번

In [ ]:
# 필요한 클래스 임포트
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split 

# ******* 데이터 불러오기 ************
train = pd.read_csv('/content/drive/MyDrive/플레이데이터(머신러닝)/project/train.csv')
test = pd.read_csv('/content/drive/MyDrive/플레이데이터(머신러닝)/project/test.csv')

#********* 데이터 전처리 *************

# 오류 데이터 삭제
error_data = ['C2085', 'C1397', 'C2431', 'C1649', 'C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988']
for error in error_data:
    error_index = train[train['단지코드'] == error].index
    train.drop(error_index, inplace=True)

# for 중복값 제거
train = train.drop_duplicates()
test = test.drop_duplicates()

# for 아파트이면서 공공분양이 아닌 데이터만 사용
train = train[(train.임대건물구분 == '아파트') & (train.공급유형 != '공공분양')]
test = test[(test.임대건물구분 == '아파트') & (test.공급유형 != '공공분양')]


# 임대보증금과 임대료 타입 float로 변환
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-','임대보증금' ] = np.nan

train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan

train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

# 지하철역과 버스 정류장의 NULL값의 경우, 0으로 판단, 밑에서 컬럼명 바꿈(지하철, 버스)
train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0, inplace=True)
train['도보 10분거리 내 버스정류장 수'].fillna(0, inplace=True)

test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0, inplace=True)
test['도보 10분거리 내 버스정류장 수'].fillna(0, inplace=True)

# test의 자격유형에 있는 2개 결측치 채우기
test.loc[(test.단지코드=='C2411')&(test.자격유형.isnull()), '자격유형'] = 'A'
test.loc[(test.단지코드=='C2253')&(test.자격유형.isnull()), '자격유형'] = 'C'

# 공급유형이 장기전세면 임대료 = 0
train.loc[(train.공급유형=='장기전세')&(train.임대료.isnull()), '임대료']=0

# train 강원도 행복주택

# 전용면적 16.91 
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 16.91), '임대보증금'] = 13450000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 16.91), '임대료'] = 65500
# 전용면적 26.9
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대보증금'] = 19700000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대료'] = 96000
# 전용면적 26.9
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대보증금'] = 19150000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대료'] = 94000
# 전용면적 26.9
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대보증금'] = 21400000
train.loc[(train['단지코드'] == 'C1786') & (train['전용면적'] == 26.9), '임대료'] = 105000

# train 부산 국민임대

# 전용면적 24.72
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.72), '임대보증금'] = 7000000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.72), '임대료'] = 135000
# 전용면적 24.79
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.79), '임대보증금'] = 7000000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 24.79), '임대료'] = 135000
# 전용면적 26.83
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 26.83), '임대보증금'] = 7600000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 26.83), '임대료'] = 142000
# 전용면적 37.7
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 37.7), '임대보증금'] = 14800000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 37.7), '임대료'] = 198000
# 전용면적 46.94
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 46.94), '임대보증금'] = 23100000
train.loc[(train['단지코드'] == 'C1326') & (train['전용면적'] == 46.94), '임대료'] = 259000

# train 대구 국민임대

# 전용면적 29.17
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.17), '임대보증금'] = 10847000
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.17), '임대료'] = 138600
# 전용면적 29.34
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.34), '임대보증금'] = 10847000
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 29.34), '임대료'] = 138600
# 전용면적 37.43
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 37.43), '임대보증금'] = 17338000
train.loc[(train['단지코드'] == 'C2186') & (train['전용면적'] == 37.43), '임대료'] = 197500

# test 대전 임대상가

# 전용면적 26.37
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 26.37), '임대보증금'] = 5787000
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 26.37), '임대료'] = 79980
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 26.37), '자격유형'] = 'C'
# 전용면적 52.74
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 52.74), '임대보증금'] = 11574000
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 52.74), '임대료'] = 159960
test.loc[(test['단지코드'] == 'C1006') & (test['전용면적'] == 52.74), '자격유형'] = 'C'

# test 강원도 영구임대

# 전용면적 24.83
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 24.83), '임대보증금'] = 2129000
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 24.83), '임대료'] = 42350
# 전용면적 33.84
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 33.84), '임대보증금'] = 2902000
test.loc[(test['단지코드'] == 'C2152') & (test['전용면적'] == 33.84), '임대료'] = 57730

# test 경상남도 행복주택

# 전용면적 16.94
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 16.94), '임대보증금'] = 11200000
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 16.94), '임대료'] = 53200
# 전용면적 26.85
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대보증금'] = 16333330
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대료'] = 77580
# 전용면적 26.85
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대보증금'] = 18620000
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 26.85), '임대료'] = 88440
# 전용면적 36.77
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 36.77), '임대보증금'] = 23760000
test.loc[(test['단지코드'] == 'C1267') & (test['전용면적'] == 36.77), '임대료'] = 112860

# 데이터프레임 컬럼명 변경(지하철어쩌구~ ->지하철, 버스 어쩌구~ -> 버스)
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형',
    '전용면적', '전용면적별세대수', '공가수', '자격유형', '임대보증금',
    '임대료', '지하철', '버스', '단지내주차면수', '등록차량수']
test.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형',
    '전용면적', '전용면적별세대수', '공가수', '자격유형', '임대보증금',
    '임대료', '지하철', '버스', '단지내주차면수']

# 필요없는 칼럼 삭제(임대건물구분, 단지코드)
train = train.drop('임대건물구분',axis=1)
test = test.drop('임대건물구분',axis=1)    

# # train 지역
# train.insert(4, 'n지역','')
# train.loc[(train['지역'] == '강원도') | (train['지역'] == '제주특별자치도') | (train['지역'] == '충청남도') | (train['지역'] == '울산광역시'), 'n지역'] = 0
# train.loc[(train['지역'] == '전라남도') | (train['지역'] == '전라북도') | (train['지역'] == '경상남도'), 'n지역'] = 1
# train.loc[(train['지역'] == '부산광역시') | (train['지역'] == '충청북도') | (train['지역'] == '경상북도'), 'n지역'] = 2
# train.loc[(train['지역'] == '대전광역시') | (train['지역'] == '광주광역시') | (train['지역'] == '대구광역시'), 'n지역'] = 3
# train.loc[(train['지역'] == '경기도') | (train['지역'] == '대구광역시') | (train['지역'] == '세종특별자치시'), 'n지역'] = 4

# # test 지역
# test.insert(4, 'n지역','')
# test.loc[(test['지역'] == '강원도') | (test['지역'] == '제주특별자치도') | (test['지역'] == '충청남도') | (test['지역'] == '울산광역시'), 'n지역'] = 0
# test.loc[(test['지역'] == '전라남도') | (test['지역'] == '전라북도') | (test['지역'] == '경상남도'), 'n지역'] = 1
# test.loc[(test['지역'] == '부산광역시') | (test['지역'] == '충청북도') | (test['지역'] == '경상북도'), 'n지역'] = 2
# test.loc[(test['지역'] == '대전광역시') | (test['지역'] == '광주광역시') | (test['지역'] == '대구광역시'), 'n지역'] = 3
# test.loc[(test['지역'] == '경기도') | (test['지역'] == '대구광역시') | (test['지역'] == '세종특별자치시'), 'n지역'] = 4


# train = train.drop(labels='지역', axis=1)
# test = test.drop(labels='지역', axis=1)
# # test['n지역'] = test['n지역'].astype('category')

# train 자격유형
train.loc[train['자격유형'].isin(['E','H','I','J']),'자격유형그룹'] = 'q1'
train.loc[train['자격유형'].isin(['B','L']),'자격유형그룹'] = 'q2'
train.loc[train['자격유형'].isin(['G','K','M','N','O']),'자격유형그룹'] = 'q3'
train.loc[train['자격유형'].isin(['D','C','F']),'자격유형그룹'] = 'q4'
train.loc[train['자격유형'].isin(['A']),'자격유형그룹'] = 'q5'

# test 자격유형
test.loc[test['자격유형'].isin(['E','H','I','J']),'자격유형그룹'] = 'q1'
test.loc[test['자격유형'].isin(['B','L']),'자격유형그룹'] = 'q2'
test.loc[test['자격유형'].isin(['G','K','M','N','O']),'자격유형그룹'] = 'q3'
test.loc[test['자격유형'].isin(['D','C','F']),'자격유형그룹'] = 'q4'
test.loc[test['자격유형'].isin(['A']),'자격유형그룹'] = 'q5'

train = train.drop(labels='자격유형', axis=1)
test = test.drop(labels='자격유형', axis=1)

# 공급유형 별로 임대유형, 임대기간, 입주조건 등이 상이함 → 차량 보유 여부를 비롯한 사회경제적지위(SES)를 반영할 것으로 예상
# 공급유형 별 특성과 '등록차량수-단지내주차면수' 차이 분포를 고려하여 범주 분류
# 국민임대(가장 많은 공급유형)와 임대상가(아파트와 명확한 임대유형 차이)는 별도의 범주로 분류

train.loc[train['공급유형'].isin(['공공임대(50년)']),'공급유형'] = '장기공공임대'
train.loc[train['공급유형'].isin(['공공임대(5년)', '공공임대(10년)', '공공임대(분납)']),'공급유형'] = '단기공공임대'
train.loc[train['공급유형'].isin(['행복주택', '영구임대', '장기전세']), '공급유형'] = '저소득층'
train.loc[train['공급유형'].isin(['국민임대']), '공급유형'] = '국민임대'

test.loc[test['공급유형'].isin(['공공임대(50년)']),'공급유형'] = '장기공공임대'
test.loc[test['공급유형'].isin(['공공임대(5년)', '공공임대(10년)', '공공임대(분납)']),'공급유형'] = '단기공공임대'
test.loc[test['공급유형'].isin(['행복주택', '영구임대', '장기전세']), '공급유형'] = '저소득층'
test.loc[test['공급유형'].isin(['국민임대']), '공급유형'] = '국민임대'

train['공급유형그룹'] = train.loc[:,'공급유형'].astype('category').cat.codes
test['공급유형그룹'] = test.loc[:,'공급유형'].astype('category').cat.codes


# 공급유형 컬럼 삭제
train = train.drop(labels='공급유형', axis=1)
test = test.drop(labels='공급유형', axis=1)

# train, test의 인덱스 번호 수정하기
train.reset_index(drop=False, inplace=True)
test.reset_index(drop=False, inplace=True)

# 단지만 따로 code 변수에 저장
code_test = test[['단지코드']]
code_train = train[['단지코드']]

code_test = np.array(code_test).reshape(-1,)
code_train = np.array(code_train).reshape(-1,)

# 숫자로 된 칼럼들만 따로 data 변수에 저장
data = train[['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스',
       '단지내주차면수', '등록차량수']]

# 원-핫 인코딩 직전 자료
before_train = train.drop(labels='index', axis=1)
print(test.tail(1))
print(test.shape)
# print(test.info())
# test에 '서울특별시'인 행 랜덤으로 하나 추가 ><
test.loc[837] = [1476, 'C2352', 1065, '서울특별시', 29.43, 94.0, 7.0, 12728000.0, 110110.0, 0.0, 4.0, 879.0, 'q1', 3]
# test.append({'index':1476, '단지코드':'C2352', '총세대수':1065, '지역':'서울특별시', '전용면적':29.43, '전용면적별세대수':94, '공가수':7.0, '임대보증금':12728000.0, '임대료':110110.0, '지하철':0.0, '버스':4.0, '단지내주차면수':879.0, '자격유형그룹':'q1', '공급유형그룹':3}, ignore_index=True)
print(test.shape)
print(test.tail(1))
print(test[test['index']==1476])

     index   단지코드  총세대수    지역   전용면적  전용면적별세대수   공가수       임대보증금       임대료  \
836   1021  C2189   382  전라북도  46.23        60  45.0  18689000.0  166500.0

     지하철   버스  단지내주차면수 자격유형그룹  공급유형그룹
836  0.0  2.0    300.0     q1       0
(837, 14)
(838, 14)
     index   단지코드  총세대수     지역   전용면적  전용면적별세대수  공가수       임대보증금       임대료  \
837   1476  C2352  1065  서울특별시  29.43      94.0  7.0  12728000.0  110110.0

     지하철   버스  단지내주차면수 자격유형그룹  공급유형그룹
837  0.0  4.0    879.0     q1       3
     index   단지코드  총세대수     지역   전용면적  전용면적별세대수  공가수       임대보증금       임대료  \
837   1476  C2352  1065  서울특별시  29.43      94.0  7.0  12728000.0  110110.0

     지하철   버스  단지내주차면수 자격유형그룹  공급유형그룹
837  0.0  4.0    879.0     q1       3

In [ ]:
test['지역'].unique()

array(['경기도', '부산광역시', '전라북도', '경상남도', '충청남도', '대전광역시', '제주특별자치도', '강원도',
       '울산광역시', '경상북도', '충청북도', '광주광역시', '전라남도', '대구광역시', '세종특별자치시',
       '서울특별시'], dtype=object)

In [ ]:
train.columns
print(len(train.columns))

15

In [ ]:
test.columns
# print(len(test.columns))

Index(['index', '단지코드', '총세대수', '지역', '전용면적', '전용면적별세대수', '공가수', '임대보증금',
       '임대료', '지하철', '버스', '단지내주차면수', '자격유형그룹', '공급유형그룹'],
      dtype='object')

In [ ]:
# 원-핫 인코딩
train = pd.get_dummies(train, columns = ['지역','공급유형그룹','자격유형그룹'])
test =  pd.get_dummies(test, columns = ['지역','공급유형그룹','자격유형그룹'])

### 2번

In [ ]:

# index 칼럼 삭제
train = train[['단지코드', '총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료',
       '지하철', '버스', '단지내주차면수', '등록차량수', '지역_강원도', '지역_경기도', '지역_경상남도',
       '지역_경상북도', '지역_광주광역시', '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_서울특별시',
       '지역_세종특별자치시', '지역_울산광역시', '지역_전라남도', '지역_전라북도', '지역_제주특별자치도', '지역_충청남도',
       '지역_충청북도', '공급유형그룹_0', '공급유형그룹_1', '공급유형그룹_2', '공급유형그룹_3', '자격유형그룹_q1',
       '자격유형그룹_q2', '자격유형그룹_q3', '자격유형그룹_q4', '자격유형그룹_q5']]
test = test[['단지코드', '총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료',
       '지하철', '버스', '단지내주차면수', '지역_강원도', '지역_경기도', '지역_경상남도', '지역_경상북도',
       '지역_광주광역시', '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_서울특별시',
       '지역_세종특별자치시', '지역_울산광역시', '지역_전라남도', '지역_전라북도', '지역_제주특별자치도', '지역_충청남도',
       '지역_충청북도', '공급유형그룹_0', '공급유형그룹_1', '공급유형그룹_2', '공급유형그룹_3', '자격유형그룹_q1',
       '자격유형그룹_q2', '자격유형그룹_q3', '자격유형그룹_q4', '자격유형그룹_q5']]

### 3번

In [ ]:
# input과 target 지정<< 하기전에 훈련,테스트 칼럼을 맞춰야됨, 따라서 훈련,테스트 칼럼을 카테고리별로 묶음 
data_input = train.drop(columns=['등록차량수'])
target = train['등록차량수']

# train세트와 test세트로 나누기
train_input, test_input, train_target, test_target = train_test_split(data_input, target, test_size=0.2, random_state=42)

## 모델

In [ ]:
dangi_n = train_input[['단지코드']]
dangi_t = test[['단지코드']]

train_input = train_input.drop(labels='단지코드', axis=1)
test_input = test_input.drop(labels='단지코드', axis=1)
test = test.drop(labels='단지코드', axis=1)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(train_input, train_target)

ExtraTreesClassifier()

In [ ]:
print(model.score(train_input, train_target))
print(model.score(test_input, test_target))

1.0
0.9713024282560706

In [ ]:
print(model.predict(test_input[:5]))
print(test_target[:5])

[ 922. 1350.  579.  422.  301.]
1755     922.0
1281    1350.0
350      579.0
420      422.0
56       301.0
Name: 등록차량수, dtype: float64

In [ ]:
test.columns

Index(['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스',
       '단지내주차면수', '지역_강원도', '지역_경기도', '지역_경상남도', '지역_경상북도', '지역_광주광역시',
       '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_서울특별시', '지역_세종특별자치시',
       '지역_울산광역시', '지역_전라남도', '지역_전라북도', '지역_제주특별자치도', '지역_충청남도', '지역_충청북도',
       '공급유형그룹_0', '공급유형그룹_1', '공급유형그룹_2', '공급유형그룹_3', '자격유형그룹_q1',
       '자격유형그룹_q2', '자격유형그룹_q3', '자격유형그룹_q4', '자격유형그룹_q5'],
      dtype='object')

In [ ]:
test_input.columns

Index(['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철', '버스',
       '단지내주차면수', '지역_강원도', '지역_경기도', '지역_경상남도', '지역_경상북도', '지역_광주광역시',
       '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_서울특별시', '지역_세종특별자치시',
       '지역_울산광역시', '지역_전라남도', '지역_전라북도', '지역_제주특별자치도', '지역_충청남도', '지역_충청북도',
       '공급유형그룹_0', '공급유형그룹_1', '공급유형그룹_2', '공급유형그룹_3', '자격유형그룹_q1',
       '자격유형그룹_q2', '자격유형그룹_q3', '자격유형그룹_q4', '자격유형그룹_q5'],
      dtype='object')

In [ ]:
df_area = test[['지역_강원도', '지역_경기도', '지역_경상남도', '지역_경상북도', '지역_광주광역시',
       '지역_대구광역시', '지역_대전광역시', '지역_부산광역시', '지역_서울특별시', '지역_세종특별자치시',
       '지역_울산광역시', '지역_전라남도', '지역_전라북도', '지역_제주특별자치도', '지역_충청남도', '지역_충청북도']]
df_area = df_area.reset_index()

In [ ]:
model.predict(test)

array([ 652.,  832.,  652.,  652.,  652.,  652.,  652.,  652.,  799.,
        799.,  799.,  799.,  799.,  799.,  799.,  799.,  799.,  159.,
        551.,  551.,  551.,  551.,  551.,  551.,  551.,  484.,  484.,
        484.,  484.,  945.,  945., 1101., 1101., 1101., 1101.,  799.,
        799., 1804., 1804., 1896., 1804., 1804., 1804., 1804., 1804.,
       1896., 1804., 1804.,  708.,  708.,  708.,  708.,  708.,  708.,
        311.,  568.,  568.,  311.,  398.,  398.,  398.,  398.,  155.,
        344.,  268.,  344.,  344.,  410.,  410.,  410.,  410.,  410.,
        133.,  133.,  133.,  133.,  133.,  133.,  343.,  700.,  700.,
        700.,  700.,  382.,  382.,  382.,  382.,  382.,  382.,  382.,
        382.,   94.,   94.,   94.,  382.,  382.,  800.,  585.,  585.,
        585.,  420.,  420.,  301.,   62.,   62.,   62.,  572.,  572.,
        572.,  572.,  572.,   78.,   78.,   78.,  302.,  302.,  496.,
        496.,  540.,  540.,  540.,  540.,   94.,   94.,   86.,   86.,
         86.,  787.,  610.,  610.,  246.,  246.,  246.,  417.,  417.,
        839.,  839.,  839.,  207.,  207.,  585.,  585.,  585.,  177.,
        177.,  177.,   86.,   86.,   86.,   86.,   86.,   86.,   86.,
         86.,  262.,  262.,  262.,  262.,  262.,  262.,  500.,  500.,
        500.,  500.,  709.,  832.,  832.,  832.,  832.,  832.,  822.,
        822.,  822.,  822.,  822.,  822.,  822.,  822.,  284.,  284.,
        284.,  284.,  415.,  415.,  415.,  415.,  415.,  585.,  585.,
        585.,  437.,  562.,  451.,  451.,  451.,  451.,  451.,  643.,
        643.,  488.,  488.,  643.,  488.,  488.,  763.,  934.,  934.,
        934.,  934.,  763.,  870.,  870.,  945., 1665., 1665., 1665.,
       1665., 1101.,  328.,  457.,  457.,  457.,  457.,  713.,  713.,
        713.,  713.,  713.,  713.,  713.,  713.,  525.,  525.,  328.,
        328.,  375.,  375.,  375.,  375.,  375.,  375.,  480.,  480.,
        480.,  480.,  480.,  480.,  480.,  480.,  480.,  293.,  293.,
        293.,  460.,  657., 1306., 1306., 1306., 1306., 1306., 1306.,
       1306.,  700.,  700.,  700.,  700.,  700.,  700.,  669.,  669.,
        272.,  272.,  272.,  570.,  570.,  570.,  570.,  570.,  570.,
        718.,  718.,  718.,  718.,  570.,  570.,  343.,  343.,  343.,
        343.,  343.,  343.,  343.,  343.,  296.,  709.,  709.,  709.,
        709.,  709.,  156.,   19.,   19.,  446.,  446.,  446.,  446.,
        446.,  446.,  643.,  504.,  504.,  763.,  763.,  763.,  763.,
        763.,  763.,  763.,  763.,  763.,  763.,  333.,  333.,  333.,
        333.,  333.,  311.,  311.,  311.,  330.,  330.,  330.,  330.,
        330.,  330.,  330.,  330.,  330.,  159.,  159.,  159.,  159.,
        159.,  159.,  159.,  831.,  831.,  831.,  831.,  505.,  505.,
        505.,  505.,  709.,  709.,  709.,  709.,  349.,  349.,  349.,
        808.,  934.,  934.,  606.,  840.,  207.,  207.,  207.,  207.,
        845.,  845.,  845.,  845.,  845.,  845.,  845.,  845.,  845.,
        845.,  735.,  735.,  735.,  735.,  735.,  735., 1158., 1158.,
       1158., 1158., 1158., 1158., 1158.,  450.,  643.,  450.,  549.,
        549.,  549.,  441., 1279., 1279., 1279., 1279., 1279., 1279.,
       1279., 1279.,  148.,  496.,  396.,  148.,  496., 1077., 1077.,
       1077., 1077., 1077.,  570., 1077., 1077., 1077., 1077., 1077.,
       1077., 1010., 1010., 1010., 1010., 1010.,  220.,  220.,  281.,
        281.,  281.,  281.,  281.,  281.,  281.,  281.,  293.,  347.,
        347.,  217.,  217.,  217.,  217.,  284.,  284.,  284.,  353.,
        353.,  353.,  353.,  526.,  262.,  262.,  226.,  226.,  226.,
        226.,  226., 1084., 1084., 1084., 1084., 1084.,  901.,  901.,
        901.,  901.,  437.,  437.,  589.,  437.,  437.,  437.,  294.,
        450.,  422.,  422.,  561.,  561.,  561.,  561.,  561.,  561.,
        708.,  708.,  708.,  708.,  708.,  708.,  708.,  708.,  839.,
       1010., 1010., 1010., 1010., 1010., 1010.,  606.,  451.,  606.,
        606.,  451.,  606.,  451., 1101., 1101., 1101., 1101., 1101.,
       1101., 1101., 1101., 1284., 1284., 1284.,  554.,  554.,  554.,
        554.,  554.,  554.,  950.,  770.,  770.,  770.,  770.,  770.,
        770.,  770.,  754.,  754.,  562.,  562.,  562.,  562.,  562.,
        562.,  562.,  887.,  887.,  887.,  887.,  887.,  887.,  979.,
        979.,  979.,  979.,  719.,  719.,  719.,  496.,  496.,  496.,
        922.,  480.,  922.,  922.,  922.,  922.,  922.,  960.,  960.,
        960.,  922.,  960.,  922.,  922.,  960.,  922.,  922.,  589.,
        589.,  589.,  589.,  589.,  589.,  770.,  770.,  770.,  770.,
        770.,  934.,  934.,  934.,  934.,  934.,  226.,  422.,  422.,
        422.,  422.,  422.,  609.,  609.,  430.,  359.,  609.,  359.,
        946.,  946.,  946.,  579.,  579.,  579.,  579.,  579.,  701.,
        701.,  886.,  886.,  886.,  886.,  886.,  713.,  713.,  713.,
        713.,  155.,  155.,  155.,  155.,  202.,  202.,  340.,  787.,
        787.,  787.,  787.,  787.,  588.,  588.,  345., 1359., 1359.,
       1359., 1359., 1359., 1359., 1378., 1378., 1378., 1378., 1378.,
        417.,  417.,  417.,  417.,  417.,  417., 1524., 1524., 1524.,
       1524., 1524.,  899.,  899.,  899.,  266.,  266.,  266.,  266.,
        266., 1084.,  739.,  266.,  220.,  220.,  616.,  616.,  616.,
        616.,  345.,  345.,  345.,  345.,  448.,  448.,  448.,  448.,
        448.,  448.,  701.,  448.,  448.,  448.,  448., 1524., 1524.,
       1524., 1524., 1524., 1524.,  280.,  280.,  280.,  280.,  123.,
        123.,  130.,  130.,  365.,  365.,  130.,  365.,  444.,  444.,
        444.,  713.,  713.,  713.,  713.,  507.,  507.,  507.,  507.,
        507.,  507.,  507.,  507.,  507.,  416.,  416.,  416.,  416.,
        416.,  416.,  416.,  155.,  155.,  155.,  155.,  155.,  155.,
        155., 1524., 1524., 1524., 1524., 1524., 1524., 1524., 1524.,
        701.,  701.,  701.,  701.,  701.,  701.,  507.,  507.,  507.,
        130.,  507.,  507.,  507.,  505.,  505.,  505.,  505.,  505.,
        220.,  220.,  220.,   16.,  164.,  396.,  396.,   59.,   59.,
         59.,   59.,   59.,  123.,  123.,  123.,  123.,  123.,  123.,
        123.,  123.,  123.,  123.,  123.,  123.,  123.,  123.,  123.,
        123.,  123.,  123.,  123.,  123.,  130.,  130.,  130.,  130.,
        130.,  130.,  130.,  130.,  164.,  164.,  164.,  164.,  164.,
        164.,  358.,  358.,  358.,  358.,  526.,  526.,  526.,  526.,
        526.,   90.,   90.,  479.,  479.,  479.,  479.,  479.,   62.,
         62.,  701.,  701.,  701.,  701.,  396.,  396.,  396.,  396.,
        793.])

In [ ]:
df_parking = pd.DataFrame({'단지코드': np.array(dangi_t['단지코드']).reshape(-1,), '단지내주차면수': np.array(test['단지내주차면수']).reshape(-1,), '주차수요예측값' : model.predict(test)})

In [ ]:
df = df_area.join(df_parking).drop(labels='index', axis=1)
df.head()

,지역_강원도,지역_경기도,지역_경상남도,지역_경상북도,지역_광주광역시,지역_대구광역시,지역_대전광역시,지역_부산광역시,지역_서울특별시,지역_세종특별자치시,지역_울산광역시,지역_전라남도,지역_전라북도,지역_제주특별자치도,지역_충청남도,지역_충청북도,단지코드,단지내주차면수,주차수요예측값
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,832.0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0

In [ ]:
# df.insert(15, '지역', '')
for row in range(len(df)):
    for column in range(len(df.loc[0,:].index)):
        if df.loc[row,:][column] == 1.0:
            df.loc[row, '지역']=df.loc[row,:].index[column][3:]

In [ ]:
df.head()

,지역_강원도,지역_경기도,지역_경상남도,지역_경상북도,지역_광주광역시,지역_대구광역시,지역_대전광역시,지역_부산광역시,지역_서울특별시,지역_세종특별자치시,지역_울산광역시,지역_전라남도,지역_전라북도,지역_제주특별자치도,지역_충청남도,지역_충청북도,단지코드,단지내주차면수,주차수요예측값,지역
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0,경기도
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,832.0,경기도
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0,경기도
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0,경기도
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C1072,683.0,652.0,경기도

In [ ]:
df.columns

Index(['지역_강원도', '지역_경기도', '지역_경상남도', '지역_경상북도', '지역_광주광역시', '지역_대구광역시',
       '지역_대전광역시', '지역_부산광역시', '지역_서울특별시', '지역_세종특별자치시', '지역_울산광역시', '지역_전라남도',
       '지역_전라북도', '지역_제주특별자치도', '지역_충청남도', '지역_충청북도', '단지코드', '단지내주차면수',
       '주차수요예측값', '지역'],
      dtype='object')

In [ ]:
# df = df.drop(837, axis=0, inplace=True)
df = df.drop(df.index[-1])

In [ ]:
df.tail()

,지역_강원도,지역_경기도,지역_경상남도,지역_경상북도,지역_광주광역시,지역_대구광역시,지역_대전광역시,지역_부산광역시,지역_서울특별시,지역_세종특별자치시,지역_울산광역시,지역_전라남도,지역_전라북도,지역_제주특별자치도,지역_충청남도,지역_충청북도,단지코드,단지내주차면수,주차수요예측값,지역
832,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,C1267,467.0,701.0,경상남도
833,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,C2189,300.0,396.0,전라북도
834,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,C2189,300.0,396.0,전라북도
835,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,C2189,300.0,396.0,전라북도
836,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,C2189,300.0,396.0,전라북도

In [ ]:
df = df[['지역', '단지코드', '단지내주차면수', '주차수요예측값']]

In [ ]:
df['수요예측_평균']    = df.groupby(['단지코드'])['주차수요예측값'].transform('mean')

In [ ]:
df

       지역   단지코드  단지내주차면수  주차수요예측값     수요예측_평균
0     경기도  C1072    683.0    652.0  674.500000
1     경기도  C1072    683.0    832.0  674.500000
2     경기도  C1072    683.0    652.0  674.500000
3     경기도  C1072    683.0    652.0  674.500000
4     경기도  C1072    683.0    652.0  674.500000
..    ...    ...      ...      ...         ...
832  경상남도  C1267    467.0    701.0  483.909091
833  전라북도  C2189    300.0    396.0  396.000000
834  전라북도  C2189    300.0    396.0  396.000000
835  전라북도  C2189    300.0    396.0  396.000000
836  전라북도  C2189    300.0    396.0  396.000000

[837 rows x 5 columns]

In [ ]:
df1 = df.drop(labels='주차수요예측값', axis=1)

In [ ]:
df1 = df1.drop_duplicates()

In [ ]:
df1

          지역   단지코드  단지내주차면수     수요예측_평균
0        경기도  C1072    683.0  674.500000
8        경기도  C1128   1216.0  799.000000
17     부산광역시  C1456    547.0  502.000000
25      전라북도  C1840    543.0  484.000000
29       경기도  C1332   1112.0  986.500000
..       ...    ...      ...         ...
811  제주특별자치도  C2456    270.0  358.000000
815     충청북도  C1266    593.0  526.000000
820      강원도  C2152     40.0   90.000000
822     경상남도  C1267    467.0  483.909091
833     전라북도  C2189    300.0  396.000000

[150 rows x 4 columns]

In [ ]:
# df1 = df1.drop_duplicates().reset_index().drop(labels='index', axis=1)

In [ ]:
df1['단지내주차면수_합']    = df1.groupby(['지역'])['단지내주차면수'].transform('sum')
df1['수요예측평균_합']    = df1.groupby(['지역'])['수요예측_평균'].transform('sum')

In [ ]:
df1

          지역   단지코드  단지내주차면수     수요예측_평균  단지내주차면수_합      수요예측평균_합
0        경기도  C1072    683.0  674.500000    26671.0  26734.297791
8        경기도  C1128   1216.0  799.000000    26671.0  26734.297791
17     부산광역시  C1456    547.0  502.000000     4547.0   3669.571429
25      전라북도  C1840    543.0  484.000000     5341.0   4224.805556
29       경기도  C1332   1112.0  986.500000    26671.0  26734.297791
..       ...    ...      ...         ...        ...           ...
811  제주특별자치도  C2456    270.0  358.000000     1944.0   2325.750000
815     충청북도  C1266    593.0  526.000000     5241.0   4923.600000
820      강원도  C2152     40.0   90.000000     6739.0   5939.800000
822     경상남도  C1267    467.0  483.909091     9280.0   8569.666234
833     전라북도  C2189    300.0  396.000000     5341.0   4224.805556

[150 rows x 6 columns]

In [ ]:
df1 = df1.drop(labels=['단지내주차면수', '단지코드', '수요예측_평균'], axis=1).reset_index()

In [ ]:
df1 = df1[['지역', '단지내주차면수_합', '수요예측평균_합']]

In [ ]:
df1 = df1.drop_duplicates()

In [ ]:
df1.reset_index()

    index       지역  단지내주차면수_합      수요예측평균_합
0       0      경기도    26671.0  26734.297791
1       2    부산광역시     4547.0   3669.571429
2       3     전라북도     5341.0   4224.805556
3       8     경상남도     9280.0   8569.666234
4      10     충청남도     1834.0   1813.833333
5      11    대전광역시     2569.0   3135.600000
6      16  제주특별자치도     1944.0   2325.750000
7      17      강원도     6739.0   5939.800000
8      20    울산광역시     4450.0   3387.800000
9      35     경상북도     4280.0   4856.752381
10     36     충청북도     5241.0   4923.600000
11     45    광주광역시     4182.0   4748.809091
12     55     전라남도      775.0   1068.666667
13     56    대구광역시     4083.0   4535.833333
14    121  세종특별자치시     1897.0   4572.000000

In [ ]:
# df2 = df1[['지역', '단지내주차면수_합', '수요예측평균_합']]
df2 = df1.reset_index(drop=True)

In [ ]:
df2

         지역  단지내주차면수_합      수요예측평균_합
0       경기도    26671.0  26734.297791
1     부산광역시     4547.0   3669.571429
2      전라북도     5341.0   4224.805556
3      경상남도     9280.0   8569.666234
4      충청남도     1834.0   1813.833333
5     대전광역시     2569.0   3135.600000
6   제주특별자치도     1944.0   2325.750000
7       강원도     6739.0   5939.800000
8     울산광역시     4450.0   3387.800000
9      경상북도     4280.0   4856.752381
10     충청북도     5241.0   4923.600000
11    광주광역시     4182.0   4748.809091
12     전라남도      775.0   1068.666667
13    대구광역시     4083.0   4535.833333
14  세종특별자치시     1897.0   4572.000000

In [ ]:
import matplotlib.pyplot as plt
import plotly.express as px

ticklabel = df2['지역'].unique()
fig = px.bar(df2, x='지역', y=['단지내주차면수_합', '수요예측평균_합'], barmode='group', title='지역별 단지내주차면수와 주차수요예측', labels={'value':'차량 수', 'variable':'범례', 'Model':'Extra Trees Regressor'})
fig.show()

In [ ]:
df2 = df2.sort_values('지역')

In [ ]:
import matplotlib.pyplot as plt
import plotly.express as px

ticklabel = df2['지역'].unique()
fig = px.bar(df2, x='지역', y=['단지내주차면수_합', '수요예측평균_합'], barmode='group', title='지역별 단지내주차면수와 주차수요예측', labels={'value':'차량 수', 'variable':'범례', 'Model':'Extra Trees Regressor'})
fig.show()